.mainA {
  background-color: hsl(0, 3%, 93%);
  margin: 0;
  padding: 0;
  border-radius: 50px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
}
.task {
  background-color: rgb(75, 4, 105);
  height: 550px;
  width: 180px;
  justify-content: center;
  padding-right: 60px;
  margin-left: 300px;
}
.box1 {
  background-color: rgb(8, 168, 8);
  height: 250px;
  width: 250px;
  text-align: center;
  margin-left: 90px;
  border-radius: 50%;
}

.box2 {
  background-color: white;
  height: 250px;
  width: 250px;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  text-align: center;

  margin-left: 90px;
  border-radius: 30%;
}

.btn {
  background-color: rgb(33, 236, 15);
  margin-left: 800px;
  border-radius: 5px;
  margin-top: -80px;
  padding: 10px 24px;
  color: black;
}
.non {
  position: absolute;
  top: 60%;
}
.AB {
  color: rgb(75, 4, 105);
  text-decoration: underline;
}
